@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
.color-primary {
  color: #ff5400;
}

/* newsletter section styles */
.newsletter-container {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.news-input {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.news-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 14px;
}
.news-p {
  color: #5a5a5d;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 22px;
}
.input1 {
  width: calc(100% - 20px);
  height: 60px;
  border: none;
  font-size: 16px;
  padding-left: 20px;
  margin-top: 22px;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.3);
  background-color: rgba(19, 19, 24, 0.05);
}
.btn-news {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  height: 60px;
  width: 100%;
  border: none;
  margin-top: 20px;
}
.news-img {
  position: relative;
}
.news-img > img {
  width: 100%;
}
.news-bonus {
  position: absolute;
  background-color: #ff5400;
  bottom: 45px;
  right: 10px;
  padding: 20px;
  border-radius: 15px;
  transform: rotate(-19.628deg);
}
.swift {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.bonus {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
/* footer section styles */
.footer-container {
  background-color: rgba(19, 19, 24, 0.05);
}
.footer-title {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 800;
  padding-top: 100px;
  margin-bottom: 15px;
  align-items: center;
}
#footer-img {
  width: 70px;
  height: 60px;
  margin-right: 16px;
}
.footer-p {
  color: #5a5a5d;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.footer-icon {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.footer-copy {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 60px;
}
/* responsive styles */

/* small devices */
@media screen and (max-width: 600px) {
  /* newsletter */
  .newsletter-container {
    flex-direction: column;
    gap: 30px;
    padding-right: 10px;
  }
  .news-input {
    padding: 30px;
  }
  .news-title {
    font-size: 26px;
  }
  .news-p {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .input1 {
    width: 100%;
    height: 50px;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 18px;
  }
  .btn-news {
    font-size: 18px;
    height: 50px;
    width: calc(100% + 10px);
    margin-top: 20px;
  }
  .swift {
    font-size: 20px;
  }
  .bonus {
    font-size: 24px;
  }
  /* footer */
  .footer-title {
    font-size: 20px;
    padding-top: 70px;
    margin-bottom: 10px;
  }
  .footer-p {
    font-size: 16px;
    margin: auto 30px;
  }
  .footer-icon {
    gap: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .footer-copy {
    font-size: 14px;
    margin-top: 30px;
    padding-bottom: 50px;
  }
  #footer-img {
    width: 60px;
    height: 50px;
    margin-right: 12px;
  }
}
