@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");

/* shared styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}
.color-primary {
  color: #ff5400;
}
/* nav bar styles */
nav {
  width: 80%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  color: #131318;
  font-size: 44px;
  font-weight: 800;
}
.nav-head {
  display: flex;
  gap: 20px;
}
.nav-ul ul {
  display: flex;
  gap: 30px;
}
.nav-ul li {
  list-style: none;
  color: var(--Dark-02, #424247);
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.nav-ul a {
  color: var(--Dark-02, #424247);
  text-decoration: none;
}
#navF {
  display: none;
  color: #131318;
}
.navA {
  display: block;
}
/* banner section styles */
.banner-container {
  width: 80%;
  min-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../images/gp2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}
.banner-title {
  color: #fff;
  font-size: 72px;
  font-weight: 800;
  text-align: center;
  padding-top: 100px;
}
.banner-p {
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 28px;
  margin-bottom: 50px;
}
.banner-inputs {
  width: 60%;
  margin: 0 auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 30px;
  padding: 20px;
}
.input-text {
  background-color: #fff;
  color: rgba(19, 19, 24, 0.5);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  border: none;
  width: 250px;
  align-items: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.btn-banner {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  padding: 20px;
  width: 250px;
  border: none;
}
/* popular tour styles */
.tour-container {
  width: 80%;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tour-container img {
  width: 100%;
}
.tour-text {
  width: 50%;
}
.tour-text li,
p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 16px;
}
.tour-text h1 {
  color: #131318;
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 24px;
}
.btn-tour {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  padding: 20px;
  width: 200px;
  border: none;
  margin-top: 16px;
}
/* newsletter section styles */
.newsletter-container {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.news-input {
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.news-title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 14px;
}
.news-p {
  color: #5a5a5d;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 22px;
}
.input1 {
  width: calc(100% - 20px);
  height: 60px;
  border: none;
  font-size: 16px;
  padding-left: 20px;
  margin-top: 22px;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.3);
  background-color: rgba(19, 19, 24, 0.05);
}
.btn-news {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 8px;
  background: #ff5400;
  height: 60px;
  width: 100%;
  border: none;
  margin-top: 20px;
}
.news-img {
  position: relative;
}
.news-img > img {
  width: 100%;
}
.news-bonus {
  position: absolute;
  background-color: #ff5400;
  bottom: 45px;
  right: 10px;
  padding: 20px;
  border-radius: 15px;
  transform: rotate(-19.628deg);
}
.swift {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.bonus {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
/* footer section styles */
.footer-container {
  background-color: rgba(19, 19, 24, 0.05);
}
.footer-title {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 800;
  padding-top: 100px;
  margin-bottom: 15px;
  align-items: center;
}
#footer-img {
  width: 70px;
  height: 60px;
  margin-right: 16px;
}
.footer-p {
  color: #5a5a5d;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.footer-icon {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.footer-copy {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 60px;
}
